In [44]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data)
print(df)
df.head(n=3)

df.dropna(subset = ["score"], inplace=True)
print("the ones who have scores are:")
print(df)


df = pd.DataFrame(exam_data , index=labels)
print("Score and attepmts:")
print(df.iloc[[0,1,2,4,5,6,8,9], [1, 2]])

df.loc['k'] = ['sureh', 15.5, '1', 'yes']
print("Print all records after insert a new record:")
print(df)

print("\nDelete the 'attempts' column from the data frame:")
df.pop('attempts')
print(df)

succes = []
for row in df['score']:
    if row < 10 :    succes.append('0')
    else: succes.append('1')
df['succes'] = succes
print(df) 


df.to_csv()

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
the ones who have scores are:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Score and attepmts:
   score  attempts
a   12.5         1
b    9.0         3
c   16.5         2
e    9.0         2
f   20.0         3
g   14.5         1
i    8.0         2
j   19.0         1
Print all records after insert a new record:
        name  score attempts qualify
a  Anastasia   12.5        1     yes
b       Dima    9.0        3      no
c  Katherine   16.5        2     yes
d      James    NaN        3      no
e      Emily    9.0        2      no
f    Michael   20.0        3     yes
g    Matthew   14.5        1     yes
h      Laura    NaN        1      no
i      Kevin    8.0        2      no
j      Jonas   19.0        1     yes
k      sureh   15.5        1     yes

Delete the 'attempts' column from the data frame:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k      sureh   15.5     yes
        name  score qualify succes
a  Anastasia   12.5     yes      1
b       Dima    9.0      no      0
c  Katherine   16.5     yes      1
d      James    NaN      no      1
e      Emily    9.0      no      0
f    Michael   20.0     yes      1
g    Matthew   14.5     yes      1
h      Laura    NaN      no      1
i      Kevin    8.0      no      0
j      Jonas   19.0     yes      1
k      sureh   15.5     yes      1

',name,score,qualify,succes\r\na,Anastasia,12.5,yes,1\r\nb,Dima,9.0,no,0\r\nc,Katherine,16.5,yes,1\r\nd,James,,no,1\r\ne,Emily,9.0,no,0\r\nf,Michael,20.0,yes,1\r\ng,Matthew,14.5,yes,1\r\nh,Laura,,no,1\r\ni,Kevin,8.0,no,0\r\nj,Jonas,19.0,yes,1\r\nk,sureh,15.5,yes,1\r\n'